@font-face {
	font-family: "Boldonse";
	src: url("/fonts/Boldonse-Regular.ttf") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.text-background {
	position: relative;
	z-index: 100;
}

@media  (max-width: 768px) {
	.text-background p {
		font-size: 20px;
	}
}

.text {
	font-family: "Boldonse";
	font-size: 40px;
	z-index: 1;
	margin: 0;
	color:#ffffff;
}

@media  (max-width: 768px) {
	.text p {
		font-size: 20px;
	}
}

section p {
	font-family: "Boldonse";
	font-size: 40px;
	z-index: 1;
	margin: 0; 
}

section {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end; 
	
}

section video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
  mix-blend-mode: multiply;
}

.container {
	position: relative;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	min-width: 320px;
	margin: 0 auto;
}

.container-one,
.container-two,
.container-free,
.container-for {
  position: relative;
  padding: 20px; 
  border: 1px solid #ffffff; 
  background-color: transparent; 
  margin: 10px;
}

.background-effect {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0; 
	background-color: #ffffff;
}

.container-one,
.container-two,
.container-free,
.container-for {
	padding: 20px; 
	border: 1px solid #ffffff;
	background-color:rgba(0, 0, 0, 1); 
	margin: 10px;
}

.container-one {
	width: 300px;
	height: auto;
}


.container-two {
	width: 200px;
	height: auto; 
}

.container-free {
	width: 240px;
	height: auto; 
}

.container-for {
	width: 500px;
	height: auto; 
}

.container-two-div {
	background: none;
	border: none;
	position: absolute;
	min-width: 320px;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	top: 0;
}

.container-one,
.container-two,
.container-free,
.container-for {
  position: relative;
  padding: 20px; 
  border: none; 
  background-color: transparent;
  margin: 10px;
}


.container-free-wrapper {
	width: 240px;
}

.container-two-wrapper {
	width: 200px;
}

@media (max-width: 524px) {
  .container-free {
		width: 150px;
	}

	.container-free-wrapper {
		width: 150px;
	}

	.container-for-wrapper {
		width: 100px;
	}

	.container-for {
		width: 100px;
	}
}